# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries by Data Scientists
* List three development environment open source tools
* Examples of arithmetic operations in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Seaborn

| Data Science Tools |
| -------------------|
| Jupyter Notebook |
| Visual Studio Code |
| Hadoop |

Below are a few examples of evaluating arithmetic expressions in Python.

* `1+1`
* `5-4`
* `6*1`
* `7/7`

In [1]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
min_to_hour = (200/60)
print(min_to_hour)

3.3333333333333335

## Author
Pooja Devi